body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#container {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

#formColumn {
    width: 20%;
    padding: 20px;
}

#canvasColumn {
    width: 50%;
    padding: 20px;
    border: 1px solid black;
}

#resultColumn {
    width: 30%;
    padding: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    width: 200px;
}

.error-box {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffeeee;
    border: 1px solid #ffcccc;
    color: #ff0000;
    border-radius: 4px;
    display: none;
}

.error-box:not(:empty) {
    display: block;
}

#result {
    border: 1px solid #ccc;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.line-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

#simulationControl {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
