#container {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

#form-column {
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

#canvas-column {
    width: 50%;
    border: 1px solid black;
}

#simulation-control-column {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

#simulation-form {
    display: grid;
    gap: 10px;
}

#simulation-form-advanced-section {
    display: grid;
    gap: 10px;
    padding-top: 10px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    width: 200px;
}

.error-box {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffeeee;
    border: 1px solid #ffcccc;
    color: #ff0000;
    border-radius: 4px;
    display: none;
}

.error-box:not(:empty) {
    display: block;
}

#seed-box {
    margin-top: 20px;
    display: block;
}

#seed-box:empty {
    display: none;
}

#result {
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    height: 700px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.line-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

#simulation-control {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.contention-rrm-status-text {
    background-color: red;
}

.no_contention-rrm-status-text {
    background-color: green;
}

.free-rrm-status-text {
    background-color: greenyellow;
}
